.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.header {
    background: rgba(203, 223, 254, 0.1);
    backdrop-filter: blur(20px);
    position: absolute;
    width: 100%;
    z-index: 10000;
}

.dropdown {
    animation: slide-in 0.3s ease-in-out;
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateZ(-100%);
    }
    100% {
      opacity: 1;
      transform: translateZ(0);
    }
  }

.header :global(.p-button) {
    background: #404F66 !important;
    box-shadow: 0px 8.30752px 24.343px rgba(10, 63, 120, 0.165559);
    border-radius: 10px;
    padding: 0.75rem 2rem;
    border: none;
}

.header ul {
    list-style: none;
}

.header a, .header .span {
    text-decoration: none;
    color: #008BF4;
    cursor: pointer;
}

.navItems li {
    padding: 5px 10px;
}

.navItems svg {
    color: #008BF4;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 60px;
    background: #fff;
    border-radius: 10px;
    padding: 10px 30px 10px 10px;
    width: 15rem;
    max-height: 100vh;
    overflow-y: auto;
}

.dropdown ul {
    padding: 0;
    list-style: none;
}

.dropdown ul li {
    padding: 10px 5px;
    border-bottom: 0.5px solid rgba(203, 223, 254, 0.5);
}

.mobileNavItems ul {
    padding: 0 !important;
    list-style: none;
}

.mobileNavItems ul li {
    padding: 10px 7px;
}

.mobileNavItems ul li a {
    text-decoration: none;
    color: #222D39;
}

@media screen and (max-width: 992px) {
    .navItems {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .logo {
        width: 110px;
    }
}