.section {
    width: 60%;
    margin: auto;
}

.headers {
    text-align: center;
}

.section .headers h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 97px;
    /* or 202% */


    color: #222D39;
    margin-bottom: 0px !important;
}

.section {
    margin-bottom: 70px;
}

.section .headers h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    color: #222D39;
}

.section .headers strong {
    font-weight: 700;
}

.section .headers p {
    margin-top: 0px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;

    color: #59668D;
}

.dscr {
    width: 60%;
    margin: 80px auto;
    text-align: center;
}

.dscr h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 105%;
    color: #222D39;
    margin: 10px 0px 50px 0px;
}

.dscr strong {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125.5%;
    color: #0CBC8B;
    display: block;
    margin: 10px 0px;
}

.dscr span {
    color: #222D39;
}

.dscr p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 105%;
    color: #818AA6;
}

.detailsSection {
    background: #0CBC8B;
    box-shadow: 0px 72.6519px 61.7542px rgba(0, 0, 0, 0.09), 0px 30.3522px 25.7994px rgba(0, 0, 0, 0.0646969), 0px 16.2278px 13.7936px rgba(0, 0, 0, 0.0536497), 0px 9.09715px 7.73258px rgba(0, 0, 0, 0.045), 0px 4.83143px 4.10671px rgba(0, 0, 0, 0.0363503), 0px 2.01047px 1.7089px rgba(0, 0, 0, 0.0253031);
    border-radius: 21.7956px;
    width: 60%;
    margin: 80px auto;
    padding: 30px 100px;
}

.mortgageSection {
    padding: 0 !important;
}

.section2 {
    padding: 30px 100px;
}

.mortgageDetails {
    width: 90%;
    margin: auto;
    padding: 0 0 60px 0px;
}

.mortgageItems {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px 0px;
}

.mortgageItems li {
    font-size: 14px !important;
    width: 75%;
}

.mortgageItems strong {
    color: #222D39 !important;
}

.mortgageItems div {
    width: 10%;
    font-size: 8px;
    font-weight: 500;
    font-family: Poppins;
    width: 86.01px;
    height: 80.72px;

    background: #222D39;
    color: #FFFFFF;
    box-shadow: 0px 66.1602px 52.9282px rgba(0, 0, 0, 0.07), 0px 27.6402px 22.1121px rgba(0, 0, 0, 0.0503198), 0px 14.7778px 11.8222px rgba(0, 0, 0, 0.0417275), 0px 8.28429px 6.62743px rgba(0, 0, 0, 0.035), 0px 4.39972px 3.51978px rgba(0, 0, 0, 0.0282725), 0px 1.83082px 1.46466px rgba(0, 0, 0, 0.0196802);
    border-radius: 6.61602px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mortgageItems button {
    width: 100%;
}

.mortgageItems :global(.p-button) {
    border-radius: 6px !important;
    color: #FF6C59;
    border: none;
    padding: 10px;
}

.mortgageItems span {
    font-size: 14px !important;
}

.detailsSection2 {
    background: #0CBC8B;
    box-shadow: 0px 72.6519px 61.7542px rgba(0, 0, 0, 0.09), 0px 30.3522px 25.7994px rgba(0, 0, 0, 0.0646969), 0px 16.2278px 13.7936px rgba(0, 0, 0, 0.0536497), 0px 9.09715px 7.73258px rgba(0, 0, 0, 0.045), 0px 4.83143px 4.10671px rgba(0, 0, 0, 0.0363503), 0px 2.01047px 1.7089px rgba(0, 0, 0, 0.0253031);
    border-radius: 21.7956px;
    width: 60%;
    margin: 80px auto;
    padding: 30px 50px;
}

.detailsSection h1,
.detailsSection2 h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    color: #222D39;
    margin: 50px 0px;
}

.detailsSection h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 145%;
    text-align: center;
    color: #222D39;
    margin-bottom: 30px !important;
}

.detailsSection2 h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 31.8895px;
    line-height: 125%;
    text-align: center;
    color: #222D39;
}

.detailsSection2 img {
    width: 100%;
    height: auto;
}

.detailsSection .pills {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
}

.detailsSection .pills div {
    width: 136px;
    color: #FFFFFF;
    height: 32px;
    background: #222D39;
    box-shadow: 0px 66.1602px 52.9282px rgba(0, 0, 0, 0.07), 0px 27.6402px 22.1121px rgba(0, 0, 0, 0.0503198), 0px 14.7778px 11.8222px rgba(0, 0, 0, 0.0417275), 0px 8.28429px 6.62743px rgba(0, 0, 0, 0.035), 0px 4.39972px 3.51978px rgba(0, 0, 0, 0.0282725), 0px 1.83082px 1.46466px rgba(0, 0, 0, 0.0196802);
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsSection .pills p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 140.5%;
    text-align: center;
    color: #FFFFFF;
}

.right {
    position: absolute;
    left: 90%;
    height: 400px;
    margin-top: -180px;
}

.left {
    position: absolute;
    left: 0%;
    height: 400px;
    margin-top: -250px;
}

.right img,
.left img {
    height: 100%;
}

.mortgage {
    width: 65%;
    margin: auto;
    text-align: center;
}

.mortgage h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #222D39;
}

.mortgage p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #59668D;
    margin-bottom: 80px;
}

.detailsSection2 .span {
    color: #59668D;
}

.detailsSection2 :global(.p-button) {
    background: #222D39;
    box-shadow: 0px -22.5221px 80.6436px rgba(255, 255, 255, 0.16), 0px -9.40919px 33.691px rgba(255, 255, 255, 0.115017), 0px -5.03061px 18.0128px rgba(255, 255, 255, 0.0953772), 0px -2.82012px 10.0978px rgba(255, 255, 255, 0.08), 0px -1.49774px 5.36288px rgba(255, 255, 255, 0.0646228), 0px -0.623244px 2.23162px rgba(255, 255, 255, 0.0449833);
    border-radius: 66.8398px;
    color: #FF6C59;
    border: none;
}

.detailsSection2 :global(.p-button:focus), .detailsSection2 :global(.p-button:hover) {
    background: #FF6C59 !important;
    box-shadow: 0px -22.5221px 80.6436px rgba(255, 255, 255, 0.16), 0px -9.40919px 33.691px rgba(255, 255, 255, 0.115017), 0px -5.03061px 18.0128px rgba(255, 255, 255, 0.0953772), 0px -2.82012px 10.0978px rgba(255, 255, 255, 0.08), 0px -1.49774px 5.36288px rgba(255, 255, 255, 0.0646228), 0px -0.623244px 2.23162px rgba(255, 255, 255, 0.0449833);
    border-radius: 66.8398px;
    border: none !important;
    color: #222D39 !important;
}

.detailsSection li {
    margin: 12px 0px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #404F66;
}

.detailsSection .list li {
    margin: 12px 0px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #222D39;
}

.detailsSection :global(.p-button) {
    background: #222D39;
    box-shadow: 0px -22.5221px 80.6436px rgba(255, 255, 255, 0.16), 0px -9.40919px 33.691px rgba(255, 255, 255, 0.115017), 0px -5.03061px 18.0128px rgba(255, 255, 255, 0.0953772), 0px -2.82012px 10.0978px rgba(255, 255, 255, 0.08), 0px -1.49774px 5.36288px rgba(255, 255, 255, 0.0646228), 0px -0.623244px 2.23162px rgba(255, 255, 255, 0.0449833);
    border-radius: 66.8398px;
    color: #FF6C59;
    border: none;
}

.detailsSection :global(.p-button:focus), .detailsSection :global(.p-button:hover) {
    background: #FF6C59 !important;
    box-shadow: 0px -22.5221px 80.6436px rgba(255, 255, 255, 0.16), 0px -9.40919px 33.691px rgba(255, 255, 255, 0.115017), 0px -5.03061px 18.0128px rgba(255, 255, 255, 0.0953772), 0px -2.82012px 10.0978px rgba(255, 255, 255, 0.08), 0px -1.49774px 5.36288px rgba(255, 255, 255, 0.0646228), 0px -0.623244px 2.23162px rgba(255, 255, 255, 0.0449833);
    border-radius: 66.8398px;
    border: none !important;
}

.detailsSection2 .para {
    font-style: normal;
    font-weight: 400;
    font-size: 13.9448px;
    line-height: 126.5%;
    color: #59668D;
}

.bank h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 32.884px;
    line-height: 125%;
    text-align: center;
    color: #222D39;
}

.bank p {
    font-style: normal;
    font-weight: 400;
    font-size: 16.442px;
    line-height: 125%;
    text-align: center;
    color: #404F66;
}

.bank h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 16.442px;
    line-height: 125%;
    /* or 21px */


    color: #222D39;
}

.happensSection {
    width: 80%;
    margin: 100px auto;
}

.happensSection h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 125%;
    /* or 52px */

    text-align: center;

    color: #404F66;
}

.happensSection strong {
    font-weight: 700;
    font-style: italic;
    color: #222D39;
}

.happensSection p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #59668D;
}

.gridSection {
    width: 65%;
    margin: 70px auto;
}

.gridSection h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;

    text-align: center;

    color: #222D39;
}

.gridSection .subheading {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #818AA6;
    margin: 0;
}

.imageSection1 img,
.imageSection2 img {
    border-radius: 13.3512px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageSection1,
.imageSection2 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.imageSection1 .img1 {
    width: 80%;
    height: 210px;
}
.imageSection1 .img2 {
    width: 20%;
    height: 210px;
}
.imageSection2 .img3 {
    width: 50%;
}
.imageSection2 .img4 {
    width: 50%;
}

.gridSection strong {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #222D39;

}

.gridSection .para {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #59668D;
}

.gridSection button {
    background: #222D39;
    box-shadow: 0px -31px 111px rgba(255, 255, 255, 0.16), 0px -12.9511px 46.3731px rgba(255, 255, 255, 0.115017), 0px -6.92426px 24.7933px rgba(255, 255, 255, 0.0953772), 0px -3.88168px 13.8989px rgba(255, 255, 255, 0.08), 0px -2.06153px 7.38161px rgba(255, 255, 255, 0.0646228), 0px -0.85785px 3.07165px rgba(255, 255, 255, 0.0449833);
    border-radius: 92px;
    border: 1px solid #222D39;
    color: #FF6C59;
}

.gridSection button:focus,
button:hover {
    background: #222D39;
    border-radius: 92px;
    border: none !important;
}

.cardLayout {
    width: 65%;
    margin: 50px auto;
}

.cardLayout h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 72px;
    color: #222D39;
    text-align: center;
}
.cardGrid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;
}
.card {
    background: #FFFFFF;
    box-shadow: 0px -12.1949px 57.3878px rgba(0, 0, 0, 0.07), 0px -5.09474px 23.9753px rgba(0, 0, 0, 0.0503198), 0px -2.72389px 12.8183px rgba(0, 0, 0, 0.0417275), 0px -1.52699px 7.18584px rgba(0, 0, 0, 0.035), 0px -0.810974px 3.81635px rgba(0, 0, 0, 0.0282725), 0px -0.337464px 1.58807px rgba(0, 0, 0, 0.0196802);
    border-radius: 0px 0px 36.5847px 35.8674px;
    width: 415.77px;
    height: 994.54px;
}
.mortgageCard {
    background: #FFFFFF;
    box-shadow: 0px -12.1949px 57.3878px rgba(0, 0, 0, 0.07), 0px -5.09474px 23.9753px rgba(0, 0, 0, 0.0503198), 0px -2.72389px 12.8183px rgba(0, 0, 0, 0.0417275), 0px -1.52699px 7.18584px rgba(0, 0, 0, 0.035), 0px -0.810974px 3.81635px rgba(0, 0, 0, 0.0282725), 0px -0.337464px 1.58807px rgba(0, 0, 0, 0.0196802);
    border-radius: 0px 0px 36.5847px 35.8674px;
    width: 415.77px;
    height: 600px;
}

.mortgageCard .image {
    height: 230px;
}

.mortgageCard .text {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    height: 370px;
    justify-content: space-between;
}

.image {
    height: 300px;
    position: relative;
}
.image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.text {
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: space-between;
}

.text h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24.4327px;
    line-height: 34px;
    text-align: center;
    color: #222D39;
    margin: 0 0 20px 0px;
}

.text p {
    font-style: normal;
font-weight: 400;
font-size: 12.9123px;
line-height: 19px;

color: #59668D;
margin-top: 5px;
}

.text button {
    border: 0.717348px solid #222D39;
    border-radius: 63.8439px;
    background-color: transparent;
    width: 100%;
    padding: 0.75rem;
    cursor: pointer;
}

 .type {
    background: #4B88E6;
    width: 120px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: Poppins;
    box-shadow: 0px 71.7348px 57.3878px rgba(0, 0, 0, 0.11), 0px 29.9691px 23.9753px rgba(0, 0, 0, 0.079074), 0px 16.0229px 12.8183px rgba(0, 0, 0, 0.0655718), 0px 8.98231px 7.18584px rgba(0, 0, 0, 0.055), 0px 4.77044px 3.81635px rgba(0, 0, 0, 0.0444282), 0px 1.98508px 1.58807px rgba(0, 0, 0, 0.030926);
    border-radius: 54.5184px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 1200px) {
    .right {
        left: 81.5%;
    }
}

@media screen and (max-width: 992px) {
    .gridSection {
        width: 95%;
    }
    .cardLayout {
        width: 85%;
    }
    .cardGrid {
        grid-template-columns: repeat(1,1fr);
    }

    .gridSection h6 {
        font-size: 24px;
        margin-bottom: 0px;
    }

    .section {
        width: 95%;
    }

    .section .headers h1 {
        font-size: 28px;
    }

    .section .headers h6 {
        font-size: 24px;
    }

    .detailsSection,
    .detailsSection2 {
        width: 95%;
        padding: 20px 10px;
    }

    .detailsSection2 h4 {
        font-size: 26.8895px;
        line-height: 120%;
    }

    .detailsSection h1 {
        font-size: 28px;
    }

    .happensSection {
        width: 95%;
    }

    .happensSection h1 {
        font-size: 24px;
    }

    .right,
    .left {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .cardLayout {
        width: 95%;
    }
    .cardLayout h1 {
        font-size: 24px;
        line-height: 40px;
    }
    .card {
        width: 100%;
        height: 800px;
    }
    .mortgageCard {
        width: 100%;
        height: fit-content;
    }
    .image {
        height: 200px;
    }
    .detailsSection .pills {
        grid-template-columns: repeat(2,1fr);
        width: 80%;
    }
    .section2 {
        padding: 30px;
    }
    .mortgage {
        width: 95%;
        margin: auto;
    }
    .mortgageItems {
        margin-bottom: 30px;
    }
    .mortgageItems button {
        width: 100%;
    }
    .mortgageItems li {
        width: 95%;
        font-size: 12px;
    }
    .mortgageCard .text {
        padding: 20px 15px;
        height: 500px;
    }
    .text {
        padding: 20px 15px;
        height: 500px;
    }
    .dscr {
        width: 95%;
        margin: 10px auto;
    }
    .dscr h6 {
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 105%;
        color: #222D39;
        margin: 10px 0px 20px 0px;
    }
    
    .dscr strong {
        font-size: 16px;
        line-height: 125.5%;
    }
    
    .dscr p {
        font-size: 16px;
        line-height: 105%;
    }

    .detailsSection h1,
    .detailsSection2 h1  {
        font-size: 24px;
        margin: 20px 0px;
    }
    .detailsSection h2 {
        font-size: 24px;
    }
    .mortgageDetails {
        width: 98%;
        padding: 0 0 30px 0px;
    }
}