@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

::after,
::before,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body .uwy .uai {
    left: calc(100vw - 80px) !important;
    top: calc(80% - 0px) !important;
}

.dark-btn {
    background: #404F66 !important;
    box-shadow: 0px 8.30752px 24.343px rgba(10, 63, 120, 0.165559);
    border-radius: 10px;
    padding: 0.75rem 2rem;
    border: none;
    color: #fff;
    cursor: pointer;
}

.dark-btn:focus,
.dark-btn:hover {
    border-radius: 10px;
    padding: 0.75rem 2rem;
    background: #404F66 !important;
    color: #fff !important;
    border: none !important;
    box-shadow: 0px 8.30752px 24.343px rgba(10, 63, 120, 0.165559);
    font-weight: normal !important;
}

i {
    font-family: 'primeicons';
}

input::placeholder {
    font-family: Poppins;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
a,
li, small, label {
    font-family: Poppins;
}

.banner a {
    color: #fff;
    text-decoration: none;
}

button {
    font-family: Poppins;
}

.p-button {
    transition: none !important;
}

.p-button:focus {
    box-shadow: none !important;
}

.p-button .p-button-label {
    font-family: Poppins !important;
    font-size: 16px;
    font-weight: 400;
}

.p-dialog-mask.p-component-overlay {
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(1px);
}

.p-dialog {
    width: 600px;
    animation: slide-in .5s ease-in-out;
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.04), 0px 1.6711px 33.4221px rgba(0, 0, 0, 0.0287542), 0px 0.893452px 17.869px rgba(0, 0, 0, 0.0238443), 0px 0.500862px 10.0172px rgba(0, 0, 0, 0.02), 0px 0.266004px 5.32008px rgba(0, 0, 0, 0.0161557), 0px 0.11069px 2.21381px rgba(0, 0, 0, 0.0112458);
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.p-dialog-content {
    overflow: hidden;
}

.p-sidebar-visible {
    z-index: 10000 !important;
}

@media screen and (max-width: 575px) {
    .p-dialog {
        width: 280px;
    }
    .items li {
        font-size: 14px !important;
    }
    .choose h1 {
        font-size: 24px;
        line-height: 35px;
    }
}

.st-1 {
    color: #0CBC8B;
}

.st-2 {
    color: #FF6C59;
}

.st-1::after,
.st-2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    background-color: transparent !important;
    z-index: -1;
}

.welcome-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20.019px;
    line-height: 30px;
    color: #837F7F;
}

.welcome-text span {
    color: #222D39;
}

.items {
    padding: 0px;
    margin-bottom: 20px;
}

.items img {
    height: 30px;
    width: 30px;
}

.items li {
    list-style: none;
    font-style: italic;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 8px;
    margin: 14px 0px;
}

.rotate {
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}

.Es8downQlxiASDyltHtn::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.Es8downQlxiASDyltHtn::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
}

.Es8downQlxiASDyltHtn::-webkit-scrollbar-thumb {
    background-color: #D5D5D5;
    border-radius: 6px;
}

.Es8downQlxiASDyltHtn::-webkit-scrollbar-thumb:hover {
    background-color: #D5D5D5;
}